.dynamic-table-wrap{
    ::v-deep .cell{
        padding-left:5px;
        padding-right:5px;
    }
    ::v-deep th.el-table__cell>.cell{
        padding-left:5px;
        padding-right:5px;
    }
    ::v-deep.el-table__fixed-right{
        height: 100% !important;
    }
    .dynamic-table{
        // 开启编辑行时
        ::v-deep.cell{
            .el-checkbox-group{
                .el-checkbox{
                    margin-right: 10px;
                }
            }
        }
        ::v-deep.is-edit__cell{
            .cell.el-tooltip{
                display: flex;
                align-items: center;
                justify-content: center;
                .cell-text{
                    // 默认展示文本内容
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .cursor-pointer{
                    cursor: pointer;
                }
                // 输入控件
                .el-input, .el-select, .el-checkbox-group{
                    flex:1;
                    margin: 0 0.5px;
                }
                .el-table__expand-icon+.el-select{
                    max-width: calc(100% - 24px);
                }
            }
        }
        
        
    }
    .action-button-wrap{
        display: flex;
        // white-space:nowrap
    }
    .el-link+.el-link{
        margin-left: 10px;
    }
    .el-button+.el-button{
        margin-left: 10px ;
    }
    // 分页器
    .pagination-wrap{
        display: flex;
        overflow: hidden;
        padding: 0.26vw 0.651vw;
    }

    .table-new-button-append{
        height: 30px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .table-new-button-bottom{
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: #fff;
    }
    .table-new-button-bottom.border{
        border-left: 1px solid #dfe6ec;
        border-right: 1px solid #dfe6ec;
        border-bottom: 1px solid #dfe6ec;
    }
}

.full-height{
    // height: 100%;
}

.dynamicTable-dialog{
    ::v-deep .el-dialog{
        min-width: 400px;
        margin-top: inherit !important;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50% , -50%);
        .el-dialog__body{
            max-height: calc(100vh - 130px);
            overflow: auto;
            &::-webkit-scrollbar {
                width: 6px;
            }
        
            &::-webkit-scrollbar-thumb {
                background: #E4E7ED;
                border-radius: 20px;
            }
        }
    }
}


