.t-table-wrap{
  .t-toolbar-container{
    padding: 4px 0;
    display: flex;
    align-items: center;
    &-title{
      font-weight: bold;
    }
  }
  .t-toolbar-container-space-between{
    justify-content: space-between;
  }
  .t-toolbar-container-start{
    justify-content: flex-start;
  }
  .t-toolbar-container-center{
    justify-content: center;
  }
  .t-toolbar-container-end{
    justify-content: flex-end;
  }
  .t-toolbar-container-start, .t-toolbar-container-center, .t-toolbar-container-end{
    .t-toolbar-container-title + .t-toolbar-container-tools{
      margin-left: 10px;
    }
  }

  .cell-template {
    width: 100%;
  }

  .t-table-container {
    padding: 6px 10px;
    border: 1px solid #F2F6FC;
    border-radius: 4px;
  }
  .dynamic-form + .t-table-container{
    margin-top: 10px;
  }


    ::v-deep .cell{
        padding-left:5px;
        padding-right:5px;
    }
    ::v-deep th.el-table__cell>.cell{
        padding-left:5px;
        padding-right:5px;
    }
    ::v-deep.el-table__fixed-right{
        height: 100% !important;
    }

    .dynamic-table{
        // 开启编辑行时
        ::v-deep.cell{
            .el-checkbox-group{
                .el-checkbox{
                    margin-right: 10px;
                }
            }
        }
        ::v-deep.is-edit__cell{
            .cell.el-tooltip{
                display: flex;
                align-items: center;
                justify-content: center;
                .cell-template{
                    // 默认展示文本内容
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .cursor-pointer{
                    cursor: pointer;
                }
                // 输入控件
                .el-input, .el-select, .el-checkbox-group{
                    flex:1;
                    margin: 0 0.5px;
                }
                .el-table__expand-icon+.el-select{
                    max-width: calc(100% - 24px);
                }
            }
        }
        
        
    }

    .t-table-has-sub-rows {
      ::v-deep.el-table__body {
        .t-table-sub__cell, .t-table-sub__cell .cell {
          padding: 0;
        }
        .sub-cell{
          display: flex;
          align-items: center;
        }
        .sub-cell + .sub-cell {
          border-top: 1px solid #ebeef5;
        }
      }
    }
    .action-button-wrap{
        display: flex;
    }
    .el-link+.el-link{
        margin-left: 10px;
    }
    .el-button+.el-button{
        margin-left: 10px ;
    }
    // 分页器
    .pagination-wrap{
        display: flex;
        overflow: hidden;
        padding: 0.26vw 0.651vw;
    }

    .table-new-button-append{
        height: 30px;
        margin: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .table-new-button-bottom{
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: #fff;
    }
    .table-new-button-bottom.border{
        border-left: 1px solid #dfe6ec;
        border-right: 1px solid #dfe6ec;
        border-bottom: 1px solid #dfe6ec;
    }
}

// 存在子集数据行的mini表格
.el-table--mini.t-table-has-sub-rows {
  .sub-cell {
    padding: 6px 5px;
  }
}

.dynamicTable-dialog{
    ::v-deep .el-dialog{
        min-width: 400px;
        margin-top: inherit !important;
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50% , -50%);
        .el-dialog__body{
            max-height: calc(100vh - 130px);
            overflow: auto;
            &::-webkit-scrollbar {
                width: 6px;
                height: 6px;
            }
        
            &::-webkit-scrollbar-thumb {
                background: #E4E7ED;
                border-radius: 20px;
            }
        }
    }
}


